<h1>Listing users</h1>

<table border=1 cellspacing=0 cellpadding=3>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Job title</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr id= <%= "user_#{user.id}" %> >
        <%= render partial: 'users/row', locals: { user: user } %>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<div id='myModal' class='modal hide fade'></div>
