<h1>Listing users</h1>

<table border=1 cellspacing=0 cellpadding=3 id='users_table'>
  <tr>
    <th>#</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Job title</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @users %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<div id='user_edit' class='modal hide fade'></div>